<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".adminTotalComplaintView"
            android:theme="@style/Theme.MyCompalaint"
            android:exported="false" />
        <activity
            android:name=".adminResolvedTotalView"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".resolvedUserView"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".resolvedComplaint"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".adminResolvedComplaint"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".newClose"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".closingComplaint"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".adminTotalComplaints"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".pendingdetailview"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".adminPendingComplaints"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".managementDashboard"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".adminLogin"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".resolvedComplaints"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".totalComplaintDetail"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".totalComplaints"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".complaintDetail"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".pendingComplaints"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaints" />
        <activity
            android:name=".addNewComplaint"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaints" />
        <activity
            android:name=".addComplaint"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaints" />
        <activity
            android:name=".pinVerification"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".pinSetup"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".AccountSetup"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".dashboard_activity"
            android:exported="false"
            android:theme="@style/Theme.help" />
        <activity
            android:name=".otp_verify_activity"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".otp_send_activity"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".sign_up_activity"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".user_admin_activity"
            android:exported="true"
            android:theme="@style/Theme.MyCompalaint">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_activity"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MyCompalaint" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>